<html>
<head>
<title>About</title>
<link rel="stylesheet" href="../static/style.css"> 
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
		</div>
		<div class="main">
			<div class="logo">
				<img src="../static/media/logo.png"></div>
			<div class="image">
				<img src="../static/media/3.png"></div>	
			

			<ul>
				<li><a href="http://127.0.0.1:5000/">Home</a></li>
				<li><a href="http://127.0.0.1:5000/new">Register</a></li>
				<li class="active"><a href="About.html">About</a></li>
				<li><a href="http://127.0.0.1:5000/team">Team</a></li>
				<li><a href="http://127.0.0.1:5000/help">Help</a></li>
			</ul>
		</div>
		<div class="info">
			<h1>What is Data Dose?</h1><br>
			<br><hr><br>
			<fieldset>
				
				<p>&nbsp Data Dose is an intuitive tool designed to manage academic data and enhance the overall educational experience. 
					<br><br>It acts as a platform to allow the students and teachers to share confidential data such as personal information and exam results proficiently. 
					<br><br>It also provides the teachers an all-purpose student management system to allocate courses and schedules to the student body.</p><br><br>
				<p>&nbsp Accessibility features like face recognition software and an easy-to-use interface are valuable additions to the application.
					<br><br> Prioritizing user convenience and accessibility, Data Dose is a contemporary tool to solve pragmatic present-day problems.</p>
			</fieldset>
		</div>
</body>
</html>