<html>
<head>
<title>Help</title>
<link rel="stylesheet" href="../static/style.css"> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
		</div>
		<div class="main">
            <div class="logo">
				<img src="../static/media/logo.png"></div>
				
			<ul>
				<li><a href="http://127.0.0.1:5000/">Home</a></li>
                <li><a href="http://127.0.0.1:5000/new">Register</a></li>
				<li><a href="http://127.0.0.1:5000/about">About</a></li>
				<li><a href="http://127.0.0.1:5000/team">Team</a></li>
				<li  class="active"><a href="Help.html">Help</a></li>
			</ul>
		</div>
<div class="help">
	<main>
        <section>
            <div class="video"><video src="../static/media/play.mp4" controls="true" width="500px" height="300px"></video></div>
            <br>
            <h1>Frequently Asked Questions</h1>
            <br><hr><br>
            
                <h3>Q. Will the teacher be able to edit the result?</h3>
                 <p>Ans. Yes, the teacher has the permission to edit the result.</p><br>
                 <h3>Q. How to Login as Student?</h3>
                 <p>Ans. Click the Dropdown list then select student, and enter te username password.</p><br>
                 <h3>Q. How to add new course from teachers portals?</h3>
                 <p>Ans.Click on Course then click on add course in teachers portal.</p><br>
                 <h3>Q. Can the Students Change correct their login Details?</h3>
                 <p>Ans. Yes, the student is required to send a mail to the admin for updating their Login Details.</p><br>
                 <h3>Q. Can each student view every students result?</h3>
                 <p>Ans. No, each student can only view their own result on their portal.</p><br>
        </section>
    </main>
</div>
</body>
</html>