<html>
<head>
<title>Team</title>
<link rel="stylesheet" href="../static/style.css"> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
		</div>
		<div class="main">
                        <div class="logo">
				<img src="../static/media/logo.png"></div>
			<ul>
				<li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/new">Register</a></li>
				<li><a href="http://127.0.0.1:5000/about">About</a></li>
				<li  class="active"><a href="#">Team</a></li>
				<li><a href="http://127.0.0.1:5000/help">Help</a></li>
			</ul>
		</div>
<div class="team">
	<main>
                <div class="dimple">
        <img src="../static/media/dimple.jpeg" alt="This is dimple's image" width= "150px" height="200px">
        </div>
        <div class="dim"><p>Dimple Rathod</p><p>AI-DS</p><p>42</p>SE13</div>
        <div class="farhat">
        <img src="../static/media/farhat.jpeg" alt="This is farhat's image"  width= "150px" height="200px">
        </div><div class="far"><p>Farhat Shaikh</p><p>AI-DS</p><p>49</p>SE13</div>
        <div class="rohit">
        <img src="../static/media/rohit.jpg" alt="This is rohit's image"  width= "150px" height="200px"> 
        </div><div class="roh"><p>Rohit Wahwal</p><p>AI-DS</p><p>62</p>SE13</div>
        <div class="jinay">
        <img src="../static/media/jinay.jpeg" alt="This is jinay's image"  width= "150px" height="200px">
       </div><div class="jin"><p>Jinay Vora</p><p>AI-DS</p><p>60</p>SE13</div>
     </main>
</div>
</body>
</html>