<html lan="en">
<head>
	<meta charset="UTF-8">
    <title>Admin Portal</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<!-- <script src="../static/myScript.js"></script> -->
	<link rel="stylesheet" href="../static/style1.css"> 
	<style> 
		input[type=submit]{
		  background: none;
		  font-size:17px;
		  cursor: pointer;
		}
	</style>
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" -->

	
	<!-- modal script -->

	<!-- <script>
		function openForm() {
		  document.getElementById("modal_container").style.display = "block";
		}
		function closeForm() {
		  document.getElementById("modal_container").style.display = "none";
		}
	  </script> -->

</head>
<body>
	
		<div class="wrapper">
			<div class="sidebar">
				<form action="/new/logout" >
				<h2>Admin Portal</h2>
				<ul>
					<li  class="active"><a href="#"><i class="fas fa-user-plus"></i>Edit Teacher</a></li>
					<li><a href="/profile/s_admin"><i class="fas fa-user-graduate"></i>Edit Student</a></li>
					<li><input type="submit" name= "logout" value="Logout" class="btn"></i></input></li>
				</ul>
				</form>
			</div>
			<div class="main_content">
					
				<div class="table">	
						
						<table id="table" style="width: 50%;">

						<tr>
							<th>Registeration ID</th>
							<th>Name</th>
							<th>Phone Number</th>
							<th>Username</th>
							<th>Password</th>
							<th>Date of birth</th>
							<th>Actions</th>
							
						</tr>
						<!-- <form action="/profile/admin"> -->
						{% for row in teacher %}
						<tr>
							<td>{{row.0}}</td>
							<td>{{row.1}}</td>
							<td>{{row.2}}</td>
							<td>{{row.3}}</td>
							<td>{{row.4}}</td>
							<td>{{row.5}}</td>
							<td>
								<a href="#" class="btn" id="open">Update</a>
								<a href="/delete/teacher/{{row.0}}" class="btn btn-outline-dark btn-sm mx-1">Delete</button></a>
								<script>
									document.getElementById('open').addEventListener("click", function() {
									document.querySelector('.modal-container').style.display = "flex";
									});

								</script>
									
							  
							</td>
						</tr>
						{% endfor %}	
						<!-- </form> -->
						
					
						</table>
						<div class="modal-container" id="modal_container">
                            <form>
								<div class="form-group">
									<h2>Update</h2><br>
									<p>Registration ID: <input type="text" value="{{row.0}}" class="txtp" name="reg_id" placeholder="Update Registration ID" required></p><br>
									<p>Name: <input type="text" value="{{row.1}}" class="txtp" name="fullname" placeholder="Update name" required></p><br>
                                	<p>Phone Number: <input type="text" class="txtp" name="phone" placeholder="Update Phone Number" cols="30" rows="6" required></p><br>
                                	<p>Date of Birth: <input type="date" class="txtp" name="dob" required cols="30" rows="6"></p><br>
                                	<p>Username: <input type="text" class="txtp" name="username" placeholder="Update Username" cols="30" rows="6" required></p><br>
                                	<p>Password: <input type="text" class="txtp" name="password" placeholder="Update Password" cols="30" rows="6" required></p><br><br><br>
                                            
                                        <div class="reg">
                                            <button class="btnp" id="submit">Submit</button>
											<button class="btnp" type="button" id="closep">Close</button>
											<script>										
													document.getElementById('closep').addEventListener("click", function() {
													document.querySelector('.modal-container').style.display = "none";
													});
											</script>
                                        </div>
								</div>
								
                            </form>
							
                        </div>		
						
					</div>	
			</div>
		</div>	
</body>
</html>